
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pretvornik enot</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Pretvornik enot</h1>
        <div>vnesi število ki jo želis pretvoriti:</div>
        <br />
        <form method="post">
            <input type="text" placeholder="Vnesi stevilo" id="number" name="number" />
            <br /><br />
            <input type="radio" name="convert" value="km_2_mi"> Kilometri v milje<br>
            <input type="radio" name="convert" value="mi_2_km"> Milje v kilometre<br>
        
            <br /><br />
            <button type="submit">Pretvori</button>
        </form>
    </div>
</body>
</html>